<h1>Stupid Coaching</h1>
<div class="answer">
<p> <%= @question %></p>
<p> -YOU </p>
</div>
<div class="answer-coach">
<p><%= @answer %></p>
<p> - Your Coach </p>
</div>

<p><%= link_to "ask a new question", ask_path%></p>

