
<h1>Stupid Coaching</h1>
<div class="form-group spaced">
  <label for="question ">Ask your coach anything</label>
  <form action="/answer" class="form-inline">
  <input id="question" type="text" name="question" placeholder="put your question" class="form-control" >
  <input type="submit" value="Ask!" class="btn-primary">
</form>
</div>
